{% extends 'app_lesiones/base.html' %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h2 class="text-center mb-4">Iniciar Sesión</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Usuario</label>
            <input type="text" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    </form>

    <p class="text-center mt-3">
        ¿No tienes cuenta?  
        <a href="{% url 'registro' %}">Regístrate aquí</a>
    </p>
</div>
{% endblock %}
