

{% extends 'app_lesiones/base.html' %}


{% block title %}Inicio{% endblock %}




{% if user.is_authenticated %}
    (mostrar botones)
{% else %}
    <h3>Debes iniciar sesión para acceder</h3>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
{% endif %}


{% block content %}
<div class="text-center">
  <h1 class="mb-4">🏥 Sistema de Gestión de Lesiones Deportivas</h1>
  <p>Total de estudiantes: <strong>{{ total_estudiantes }}</strong></p>
  <p>Total de lesiones: <strong>{{ total_lesiones }}</strong></p>
  <p>Total de tratamientos: <strong>{{ total_tratamientos }}</strong></p>

  <div class="d-grid gap-3 col-6 mx-auto mt-4">
      <a href="{% url 'lista_estudiantes' %}" class="btn btn-outline-primary">👨‍🎓 Gestionar Estudiantes</a>
      <a href="{% url 'lista_lesiones' %}" class="btn btn-outline-danger">🤕 Gestionar Lesiones</a>
      <a href="{% url 'lista_tratamientos' %}" class="btn btn-outline-success">💊 Gestionar Tratamientos</a>
  </div>
</div>
{% endblock %}
